// 暗色主题
html[data-theme="dark"] {
    --text-color: #ffffffde;
    --bg-color: #00000080;
    --border-color: #73767a;
}

// 默认亮色主题
:root {
    --text-color: #333;
    --bg-color: #ffffffe6;
    --border-color: #dcdfe6;
}

$theme-color: #409eff