// 暗色主题
html[data-theme="dark"] {
    --text-color: #f2f2f2;
    --bg-color: #00000078;
    --border-color: #919191;
}

// 默认亮色主题
:root {
    --text-color: #252525;
    --bg-color: #ffffffa3;
    --border-color: #909090;
}

$theme-color: #007dff;