// 暗色主题
html[data-theme="dark"] {
    --text-color: #f2f2f2;
    --bg-color: #00000080;
    --border-color: #c8cbce;
}

// 默认亮色主题
:root {
    --text-color: #1d1d1d;
    --bg-color: #ffffff80;
    --border-color: #868686;
}

$theme-color: #ff6700