/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "仓耳渔阳体 W01";
    font-weight: 400;
    src: url('./fontStyle/TsangerYuYangT_W01_W01.ttf');
    font-variation-settings: normal;
    font-display: swap;
}

.webfont {
    font-family: "仓耳渔阳体 W01";
    font-variation-settings: normal;
    /* Chrome 140 以下版本需要 */
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "仓耳渔阳体 W02";
    font-weight: 400;
    src: url('./fontStyle/TsangerYuYangT_W02_W02.ttf');
    font-variation-settings: normal;
    font-display: swap;
}

.webfont {
    font-family: "仓耳渔阳体 W02";
    font-variation-settings: normal;
    /* Chrome 140 以下版本需要 */
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "仓耳渔阳体 W03";
    font-weight: 400;
    src: url('./fontStyle/TsangerYuYangT_W03_W03.ttf');
    font-variation-settings: normal;
    font-display: swap;
}

.webfont {
    font-family: "仓耳渔阳体 W03";
    font-variation-settings: normal;
    /* Chrome 140 以下版本需要 */
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "仓耳渔阳体 W04";
    font-weight: 400;
    src: url('./fontStyle/TsangerYuYangT_W04_W04.ttf');
    font-variation-settings: normal;
    font-display: swap;
}

.webfont {
    font-family: "仓耳渔阳体 W04";
    font-variation-settings: normal;
    /* Chrome 140 以下版本需要 */
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "仓耳渔阳体 W05";
    font-weight: 400;
    src: url('./fontStyle/TsangerYuYangT_W05_W05.ttf');
    font-variation-settings: normal;
    font-display: swap;
}

.webfont {
    font-family: "仓耳渔阳体 W05";
    font-variation-settings: normal;
    /* Chrome 140 以下版本需要 */
}