@font-face {
  font-family: "iconfont"; /* Project id 3870377 */
  src: url('iconfont.woff2?t=1680770720323') format('woff2'),
       url('iconfont.woff?t=1680770720323') format('woff'),
       url('iconfont.ttf?t=1680770720323') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-expand:before {
  content: "\e64a";
}

.icon-contract:before {
  content: "\e64b";
}

.icon-gengduo:before {
  content: "\e614";
}

.icon-cube:before {
  content: "\e600";
}

.icon-jiahao:before {
  content: "\e638";
}

.icon-line:before {
  content: "\e6f4";
}

.icon-home:before {
  content: "\e707";
}

